<%= form_for @product do |f| %>
  <p>
    <%= f.label :title, "商品タイトル" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :image, "商品画像" %><br>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :description, "説明文" %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :price, "価格" %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>
