<p>
  <strong>商品タイトル:</strong>
  <%= @product["title"] %>
</p>

<p>
  <strong>商品画像:</strong>
  <img src="<%= @product["image"]["url"] %>">
</p>

<p>
  <strong>説明文:</strong>
  <%= @product["description"] %>
</p>

<p>
  <strong>価格:</strong>
  <%= @product["price"] %>
</p>

<%= link_to 'Back', products_path %>
